<!-- <header class="header-area">
   <div class="container-fluid"  style="padding-left: 0px;padding-right: 0px;">
		<div class="row align-items-center justify-content-xl-center" style="margin-left: 0px;-right: 0px;" >
			<div class="col-xl-2 col-lg-2 col-md-2 col-2">
				<div class="">
					<a routerLink="/home">
						<img class="img-fluid"
						  src="../../../assets/img/logo/twaper_logo_horizontal.png"
						  alt="logoAzul"/>
					</a>
				</div>
			</div>
			<div class="col-xl-8 d-xl-flex justify-content-center align-items-center d-none">
				<nav class="main-menu">
					<ul>
						<li>
							<a routerLink="/home" routerLinkActive="active">HOME</a>	
						</li>
						<li>
							<a href="#">TOOLS</a>
						</li>
						<li>
							<a routerLink="/services" routerLinkActive="active" >SERVIZI</a>
						</li>
						<li>
							<a href="gallery.html">RISULTATI</a>
						</li>
						<li>
							<a href="blog.html">BLOG</a>
						</li>
						<li>
							<a href="shop.html">RISORSE GRATUITE</a>
							<ul class="sub-menu">
								<li><a href="shop.html">Shop Page</a></li>
								<li><a href="shop-2.html">Shop Two</a></li>
								<li><a href="shop-details.html">Shop Details</a></li>
							</ul>
						</li>
						<li>
							<a href="contact.html">CONTACT</a>
							<ul class="sub-menu">
								<li><a href="contact.html">Contact Page</a></li>
								<li><a href="contact-2.html">Contact Two</a></li>
							</ul>
						</li>
                 
							<li class="pl-1">
								<app-language></app-language>
							</li>
							<li class="pl-1">
							<a href="#" class="open-search">
								   <span><i class="fas fa-user-alt"></i></span>
								lOGIN
							</a>
						</li>	
					</ul>
				</nav>
			</div>
	
		</div>
	</div>
</header> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
	<div class="container-fluid">
		<div class="col-xl-2 col-lg-2 col-md-2 col-2">
			<a class="navbar-brand" href="#">
				<img class="img-fluid"
					src="../../../assets/img/logo/twaper_logo_horizontal.png"
					alt="logoAzul"/>
			</a>
   	</div>
	  <img class="navbar-toggler"  src="../../../assets/icons/menu_lateral_1.png" style="height: 68px;" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" />
		 
	  
	  <div class="collapse navbar-collapse" id="navbarText">
		 <ul class="navbar-nav mx-auto mb-2 mb-lg-0 ">
			<li class="nav-item">
				<a class="nav-link" routerLink="/home" routerLinkActive="active">HOME</a>	
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">TOOLS</a>
			
			</li>
			<li class="nav-item">
				<a  class="nav-link" routerLink="/services" routerLinkActive="active" >SERVIZI</a>
			
			</li>
			<li class="nav-item">
				<a class="nav-link" href="gallery.html">RISULTATI</a>
			 </li>
			 <li class="nav-item">
				<a class="nav-link" href="shop.html">RISORSE GRATUITE</a>
			 </li>
			 <li class="nav-item">
				<a class="nav-link" href="contact.html">CONTACT</a>
			 </li>
		
		 </ul>
	
		<span class="navbar-text mr-4" >
			<app-language></app-language>
		 </span>
		 <span class="navbar-text">
			 LOGIN
		 </span>
	  </div>
	</div>
 </nav>

