<div class="pricing-area bg-fix pt-130 pb-180">
   <div class="container">
      <div class="row justify-content-center align-items-center pt-5">
         <div class="col-xl-12">
            <div class="section-title-2  text-center ">
               <h3 class="bars" style="color: #0D0D60; padding-top: 40px; font-weight: bold;">
                  Risultati reali dall'utilizzo <br> dei nostri pacchetti
               </h3>
            </div>
         </div>
      </div>
      <div class="row justify-content-center pt-80">
         <div class="col-lg-4 col-md-7 mt-30 mb-30">
            <div class="pricing-wrap " style="height: 364px;">
               <div style="position: relative;top:30%;">
                  <img src="../../../../assets/icons/play.png" alt="icon">
               </div>
             
               <div class="shape">
                  <img   src="../../../../assets/img/impressions/impressions_04.png" alt="shape">
               </div>
            </div>
         </div>

         <div class="col-lg-4 col-md-7">
               
            <div class="about-video-play">
               <div class="popular-badge">
                  <span>esgsdgsd</span>
               </div>
               <img  width="100%" src="../../../../assets/img/reels/Reels_gallery_2.png" alt="thumb">
               <a href="https://www.youtube.com/watch?v=ZIKt1-r3PL0" class="popup-video read-more">
                  <img src="../../../../assets/icons/play.png" alt="icon">
               </a>
            </div>



            <!-- <div class="pricing-wrap popular mt-50 mb-30" style="height: 360px;">
               <div class="popular-badge">
                  <span>esgsdgsd</span>
               </div>
               <div style="position: relative;top:30%;">
                  <img src="../../../../assets/icons/play.png" alt="icon">
               </div>
             
               <div class="shape">
                  <img class="img-fluid" src="../../../../assets/img/reels/Reels_gallery_2.png" alt="shape">
               </div>
            </div> -->
         </div>

         <div class="col-lg-4 col-md-7">
            <div class="pricing-wrap mt-30 mb-30" style="height: 364px;">
               <img src="../../../../assets/icons/play.png" alt="icon">
               <div class="shape">
                  <img   src="../../../../assets/img/impressions/impressions_05.png" alt="shape">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
