<div class="process-area-2 pt-130 pb-500">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-xl-12">
            <div class="section-title-2  text-center mb-10">
               <h3 class="bars" style="color: #0D0D60;">
                 {{title}}
               </h3>
               <p>
                  {{titleParteOne}} <br>
                  {{titleParteTwo}}
               </p>
            </div>
         </div>
      </div>
      <div class="row">

        <div class="col-md-4">
         <div class="bg-reels-img">
            <div class="reels-wrap">
               <div class="reels-price">
                  <h4> {{oneCardPrice}} <br>
                     <p style="font-size: 0.8rem;margin-left: 9px; margin-top: 2px;">
                        {{cardMonth}}
                     </p>
                  </h4>
               </div>
               <div class="reels-title">
                  <h4>{{oneCardPetite}}</h4>     
               </div>
               <div class="reels-content">
                  <ul>
                     <li style="color:#0D0D60;font-weight: 600;">
                      {{oneCardItemOne}}
                     </li>
                     <li>{{cardItemTwo}}</li>
                     <li style="color:#0D0D60;font-weight: 600;">
                        {{oneCardItemThree}}
                     </li>
                     <li>{{cardItemFour}}</li>

                     <li>{{cardItemFive}}</li>
                     <li style="padding-right: 50px;">{{cardItemSix}}</li>
                     <li>{{cardItemSeven}}</li>
                     <li *ngIf="cardItemEight !== '' ">{{cardItemEight}}</li>
                  </ul>
               </div>
               <div class ="reels-sale">
                  <p>{{ 'CARD_BUTTON' | translate }}</p>
                </div>
            </div>
         </div>
      </div>
     <!-- card 1 -->

     
     <div class="col-md-4">
      <div class="bg-reels-img" >
         <div class="reels-wrap"  style="height: 500px;">
            <div class="reels-price" >
               <h4> {{twoCardPrice}} <br>
                  <p style="font-size: 0.8rem;margin-left: 9px; margin-top: 2px;">
                     {{cardMonth}}
                  </p>
               </h4>
            </div>
            <div class="reels-title">
               <h4>{{twoCardPetite}}</h4>     
            </div>
            <div class="reels-content">
               <ul>
                  <li style="color:#0D0D60;font-weight: 600;">{{twoCardItemOne}}</li>
                  <li> {{cardItemTwo}}</li>
                  <li style="color:#0D0D60;font-weight: 600;">
                    {{twoCardItemThree}}
                  </li>
                  <li>{{cardItemFour}}</li>
                  <li>{{cardItemFive}}</li>
                  <li style="padding-right: 50px;">{{cardItemSix}}</li>
                  <li>{{cardItemSeven}}</li>
                  <li *ngIf="cardItemEight !== '' ">{{cardItemEight}}</li>
               </ul>
            </div>
            <div class ="reels-sale">
               <p>{{ 'CARD_BUTTON' | translate }}</p>
             </div>
         </div>
      </div>
   </div>
  <!-- card 2 -->

  <div class="col-md-4">
   <div class="bg-reels-img">
      <div class="reels-wrap">
         <div class="reels-price">
            <h4>{{threeCardPrice}}<br>
               <p style="font-size: 0.8rem;margin-left: 9px; margin-top: 2px;">
                  {{cardMonth}}
               </p>
            </h4>
         </div>
         <div class="reels-title">
            <h4>{{threeCardPetite}}</h4>     
         </div>
         <div class="reels-content">
            <ul>
               <li style="color:#0D0D60;font-weight: 600;">
                  {{threeCardItemOne}}
               </li>
               <li>{{cardItemTwo}}</li>
               <li style="color:#0D0D60;font-weight: 600;">
                 {{threeCardItemThree}}
               </li>
               <li>{{cardItemFour}}</li>
               <li>{{cardItemFive}}</li>
               <li style="padding-right: 50px;">{{cardItemSix}}</li>
               <li>{{cardItemSeven}}</li>
               <li *ngIf="cardItemEight !== '' ">{{cardItemEight}}</li>
            </ul>
         </div>
         <div class ="reels-sale">
            <p>{{ 'CARD_BUTTON' | translate }}</p>
          </div>
      </div>
   </div>
</div>
<!-- card 3 -->
       
   
      </div>
   </div>
</div>